flows.json
[{"id":"faa166bf.b11fd8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c3c704f2.b13e68","type":"mongodb","hostname":"10.10.35.34","topology":"direct","connectOptions":"","port":"27017","db":"gravity","name":""},{"id":"fc12e53d.6d4348","type":"http in","z":"faa166bf.b11fd8","name":"api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["8fe4b9e9.91ca28"]]},{"id":"8fe4b9e9.91ca28","type":"mongodb in","z":"faa166bf.b11fd8","mongodb":"c3c704f2.b13e68","name":"","collection":"gravity_vt","operation":"find","x":350,"y":280,"wires":[["ea12a04c.ecaf7","c2d8290e.edad98"]]},{"id":"ea12a04c.ecaf7","type":"debug","z":"faa166bf.b11fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"c2d8290e.edad98","type":"template","z":"faa166bf.b11fd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Atomic Example</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css\">\n  <script src=\"https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js\"></script>\n</head>\n<body>\n\n<div class=\"container\">\n  <h2>User Table</h2>\n  <div class=\"table-responsive\">\n    <table class=\"table table-striped\">\n      <thead>\n        <tr>\n          <th>ID</th>\n          <th>NAME</th>\n          <th>PHONE</th>\n        </tr>\n      </thead>\n      <tbody id=\"tableData\">\n      {{#payload}}\n        <tr>\n          <th>{{ID}}</th>\n          <th>{{NAME}}</th>\n          <th>{{PHONE}}</th>\n        </tr>\n      {{/payload}}\n      </tbody>\n    </table>\n  </div>    \n</div>\n</body>\n</html>\n","output":"str","x":540,"y":360,"wires":[["ff10a175.cb176"]]},{"id":"ff10a175.cb176","type":"http response","z":"faa166bf.b11fd8","name":"200","statusCode":"200","headers":{},"x":500,"y":440,"wires":[]}]